.divider {
  position: relative;
  border-bottom: 1px dashed var(--border-color);
}

.divider::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -2px;
  border-bottom: 1px dashed #fff;
}

:global([data-theme='dark']) .divider::before {
  border-bottom-color: var(--brand-grey);
}
